# Environment variables
.env*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE folders
.vscode/
.idea/

# Virtual environment folders (if accidentally created inside repo)
venv/
env/
*/venv/
*/env/
.*env